.debug-height-90{
  height: 90px;
}
.debug-height-110{
  height: 110px;
}
.debug-height-230{
  height: 230px;
}
.debug-height-580{
  height: 580px;
}
.debug-height-500{
  height: 500px;
}
.debug-height-680{
  height: 680px;
}
.debug-height-850{
  height: 850px;
}
.bg-nav{
  background-color: #070b0f;
  height
}
.bg-main-top{
  background-color: #1ABC9C;
}
.bg-footer-top{
  background-color: #3A546D;
}
.bg-footer-bottom{
  background-color: #2C3E50;
}