/* Debug */
.debug-height-90{
  min-height: 90px;
}
.debug-height-110{
  min-height: 110px;
}
.debug-height-230{
  min-height: 230px;
}
.debug-height-580{
  min-height: 580px;
}
.debug-height-500{
  min-height: 500px;
}
.debug-height-680{
  min-height: 680px;
}
.debug-height-850{
  min-height: 850px;
}
/* Background color */
.bg-nav{
  background-color: #2C3E50;  
}
.bg-main-top{
  background-color: #1ABC9C;
}
.bg-footer-top{
  background-color: #3A546D;
}
.bg-footer-bottom{
  background-color: #2C3E50;
}
.ms_nav a {
  color: white !important;
}
/* Img WH */

.img-contain{
  max-width: 300px;
  
}
.section_1 .bg_line{
  background-color: white;
  width: 100px;
  height: 2px;
  border-radius: 2px;
}
.section_1 i{
  color: white;
  padding: 0 20px;
}
.section_2 i{
  color: black;
  padding: 0 20px;
}
.section_2 .bg_line{
  background-color: black !important;
  width: 100px;
  height: 2px;
  border-radius: 2px;
}
h1, h5{
  color: white;
}