/* Debug */
.debug-height-90 {
  min-height: 90px;
}
.debug-height-110 {
  min-height: 110px;
}
.debug-height-230 {
  min-height: 230px;
}
.debug-height-580 {
  min-height: 580px;
}
.debug-height-500 {
  min-height: 500px;
}
.debug-height-680 {
  min-height: 680px;
}
.debug-height-850 {
  min-height: 850px;
}
/* Background color */
.bg-nav {
  background-color: #2c3e50;
}
.bg-main-top {
  background-color: #1abc9c;
}
.bg-footer-top {
  background-color: #3a546d;
}
.bg-footer-bottom {
  background-color: #2c3e50;
}
.ms_nav a {
  color: white !important;
}
/* Img WH */

.img-contain {
  max-width: 250px;
}

/* Section 1 */
.section_1 .bg_line,
.section_3 .bg_line {
  background-color: white;
  width: 120px;
  height: 2px;
  border-radius: 2px;
}
.section_1 i,
.section_3 i {
  color: white;
  padding: 0 20px;
}
.section_3 h4,
.section_3 p{
  color: white;
}

/* Section 2 */
.section_2 i,
.section_4 i {
  color: black;
  padding: 0 20px;
}
.section_2 h4 {
  padding-top: 30px;
}
.section_2 .bg_line,
.section_4 .bg_line {
  background-color: black;
  width: 110px;
  height: 2px;
  border-radius: 2px;
}
h1,
h5 {
  color: white;
}

.section_3 button{
  margin-bottom: 40px;
}
.border_bottom{
  border: none;
  border-bottom: 1px solid grey;
}
/* Section 4 */
.section_4 button{
  color: white;
}